<!-- <ion-header>
  <ion-toolbar>
    <ion-title>PDF Preview</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-button expand="full" (click)="previewPdf()">Generate & Preview PDF</ion-button> -->
  <div #pdfContainer style="display: flex; justify-content: center; align-items: flex-start; width: 100%; padding-top: 10px;"></div>

  <div class="bottom-actions">
    <ion-button fill="clear" (click)="openPDF()">
      <ion-icon name="open-outline"></ion-icon>
      <span>Open</span>
    </ion-button>
    <ion-button fill="clear" (click)="previewPDF2()">
      <ion-icon name="document-text-outline"></ion-icon>
      <span>Preview</span>
    </ion-button>
    <ion-button fill="clear" (click)="previewPdf()">
      <ion-icon name="open-outline"></ion-icon>
      <span>Generate & Preview PDF</span>
    </ion-button>
    <ion-button fill="clear" (click)="downloadPDF()">
      <ion-icon name="download-outline"></ion-icon>
      <span>Download</span>
    </ion-button>
  </div>
</ion-content>
