<!-- Image above gradient header -->
<img src="assets/sessionPageImage.png" alt="Home Page" class="home-page-img" />

<!-- Orange gradient header -->
<div class="gradient-header"></div>
<div class="background-white"></div>

<!-- Backdrop to close sidebar when clicking outside -->
<div
  *ngIf="isSidebarOpen"
  class="sidebar-backdrop"
  (click)="closeSidebar()"
></div>

<div class="custom-sidebar" [ngClass]="{'open': isSidebarOpen}" (click)="$event.stopPropagation()">
  <div class="profile-section">
    <div class="profile-avatar" style="cursor: pointer;">
      <img src="assets/engIcon.png" alt="Profile" />
    </div>
    <div class="profile-info">
      <h1 class="profile-name">{{ firstName }} {{ lastName }}</h1>
      <p class="profile-email">{{ email }}</p>
    </div>
  </div>
  <ul class="menu-items scrollable-menu">
    <div class="menu-section">
      <li class="menu-item" (click)="goToHomePage()">
        <img src="assets/newHomeIcon.png" alt="Chat" class="menu-item-icon" />
        <span>Home</span>
      </li>
      <li class="menu-item" (click)="gochatPagePeople()">
        <img src="assets/ChatIconNew.png" alt="Chat" class="menu-item-icon" />
        <span>Chat</span>      
      </li>
    <li class="menu-item" (click)="gochatPageLocation()">
        <img src="assets/MapIcon.png" alt="Map" class="menu-item-icon" />
        <span>Map</span>
      </li>
       <li *ngIf="userRole !== 'user'"class="menu-item" (click)="goMarkerPage()">
        <img src="assets/officeLocation.png" alt="Map" class="menu-item-icon" />
        <span>Office Locations</span>
      </li>
      <li class="menu-item" (click)="goSessionPage()">
        <img src="assets/updatedSession.png" alt="Map" class="menu-item-icon" />
        <span>Sessions</span>
      </li>
    </div>
 
      <div class="menu-section">
    
    </div>
     <div class="menu-section">
        <div class="menu-header">Other</div>
   
      <li class="menu-item" (click)="logout(); closeSidebar(); $event.stopPropagation()" data-action="logout">
        <img src="assets/newLoginIcon.png" alt="Chat" class="menu-item-icon" />
                <span>Log Out</span>
      </li>
    </div>
  </ul>
</div>

<div class="menu-btn unique-menu top-left-corner" (click)="openMenu('sidebarMenu')">
  <img src="assets/moreIcon.png" alt="Menu" class="big-icon1" />
</div>



<!-- Profile Edit Card -->
<div class="profile-edit-card">
  <!-- Profile Picture Section -->
  <div class="profile-pic-section">
    <div class="profile-picture-container">
      <img [src]="profilePicture || 'assets/engIcon.png'" alt="Profile Picture" class="profile-pic" />
    </div>
    <div class="change-picture-text">Change Picture</div>
    <button *ngIf="!isEditing" class="edit-btn" (click)="onEditProfile()">Edit</button>
  </div>

  <!-- Profile Form -->
  <form class="profile-form">
    <div class="form-group">
      <label class="form-label">Username</label>
      <input 
        type="text" 
        class="form-input" 
        [(ngModel)]="userName" 
        name="username"
        placeholder="Enter username"
      />
    </div>

    <div class="form-group">
      <label class="form-label">Email I'd</label>
      <input 
        type="email" 
        class="form-input" 
        [(ngModel)]="email" 
        name="email"
        placeholder="Enter email"
      />
    </div>

    <div class="form-group">
      <label class="form-label">Phone Number</label>
      <input 
        type="tel" 
        class="form-input" 
        [(ngModel)]="phoneNumber" 
        name="phoneNumber"
        placeholder="Enter phone number"
      />
    </div>

    <div class="form-group">
      <label class="form-label">Password</label>
      <input 
        type="password" 
        class="form-input" 
        [(ngModel)]="password" 
        name="password"
        placeholder="Enter password"
      />
      <div class="change-password-text" (click)="onChangePassword()">Change Password</div>
    </div>

    <button type="button" class="update-btn" (click)="onUpdateProfile()">Update</button>
  </form>
</div>

<!-- Password Change Modal -->
<ion-modal [isOpen]="isPasswordChangeModalOpen" (ionModalDidDismiss)="closePasswordModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Change Password</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closePasswordModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <!-- Error Message Display -->
      <div *ngIf="passwordChangeError" class="password-error-message">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <span>{{ passwordChangeError }}</span>
      </div>

      <form class="password-form">
        <!-- Current Password Input -->
        <div class="form-group">
          <label class="form-label">Current Password</label>
          <ion-input
            type="password"
            [(ngModel)]="currentPassword"
            name="currentPassword"
            placeholder="Enter current password"
            class="password-input"
          ></ion-input>
        </div>

        <!-- New Password Input -->
        <div class="form-group">
          <label class="form-label">New Password</label>
          <ion-input
            type="password"
            [(ngModel)]="newPassword"
            name="newPassword"
            placeholder="Enter new password"
            class="password-input"
          ></ion-input>
        </div>

        <!-- Confirm New Password Input -->
        <div class="form-group">
          <label class="form-label">Re-enter New Password</label>
          <ion-input
            type="password"
            [(ngModel)]="confirmNewPassword"
            name="confirmNewPassword"
            placeholder="Re-enter new password"
            class="password-input"
          ></ion-input>
        </div>

        <!-- Button Container -->
        <div class="password-button-container">
          <ion-button
            (click)="onSubmitPasswordChange()"
            [disabled]="isPasswordChanging"
            expand="block"
            class="change-password-btn"
          >
            <ion-spinner *ngIf="isPasswordChanging" name="crescent"></ion-spinner>
            <span *ngIf="!isPasswordChanging">Change Password</span>
          </ion-button>

          <ion-button
            (click)="closePasswordModal()"
            [disabled]="isPasswordChanging"
            expand="block"
            fill="outline"
            class="cancel-btn"
          >
            Cancel
          </ion-button>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content id="main-content" class="home-page" (click)="closeSidebar()">
 
</ion-content>
