<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Document Viewer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveToDocuments()">
        <ion-icon name="download" slot="start"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content fullscreen>
  <div class="viewer-container">
    <ngx-extended-pdf-viewer
      *ngIf="pdfSrc"
      [src]="pdfSrc"
      [height]="'100%'"
      [textLayer]="true"
      [showToolbar]="true"
      [showDownloadButton]="true"
      [showPrintButton]="true"
      (pdfLoadingStarts)="onPdfLoadingStarts()"
      (pdfLoadingEnds)="onPdfLoadingEnds()"
    ></ngx-extended-pdf-viewer>

    <div class="placeholder" *ngIf="!pdfSrc">
      <ion-icon name="document-outline" size="large"></ion-icon>
      <p>No document selected. Navigate here with a PDF source.</p>
    </div>
  </div>

  <div class="spinner-overlay" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
